.contact-page-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 150px;
  height: fit-content;
  width: 80%;
  margin: 0% 10%;
  h1 {
    word-spacing: 10px;
    letter-spacing: 80%;
    font-size: 100px;
    font-weight: lighter;
    font-family: "Bradley Hand";
    img {
      width: 150px;
      margin-left: 50px;
      margin-bottom: 100px;
      animation: animate-rotate 10s infinite linear;
    }
  }
}

.c-container {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
  a {
    color: #e0e0e0;
    text-decoration: none;
    font-family: "Bradley Hand";
    font-size: 50px;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: 1px dashed transparent;
    transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    &:hover {
      border-bottom: 1px dashed white;
      transition: text-decoration 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    }
  }
  p {
    color: #e0e0e0;
    text-decoration: none;
    font-family: "Bradley Hand";
    margin-left: 40px;
    font-size: 30px;
  }
  .social-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    .social-links-h {
      font-size: 30px;
      margin-bottom: 10px;
      font-family: "Bradley Hand";
      font-weight: bold;
    }
    .social-likes-items {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .contact-page-container h1 {
    font-size: 100px;
    line-height: 88%;
  }
}

@media (max-width: 500px) {
  .contact-page-container h1 {
    font-size: 80px;
  }
  .contact-page-container h1 img {
    width: 50px;
  }
}
