* {
  font-family: "Bradley Hand", "Times New Roman", Times, serif;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 572px;
  width: 100%;
  .container1 {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    .txt-line {
      overflow: hidden;
      p {
        font-size: 180px;
        text-transform: capitalize;
        letter-spacing: -10px;
        overflow: hidden;
        height: 100%;
        line-height: 90%;
      }
    }
    .line-bottom {
      margin-top: -130px;
    }
  }
}

.left-side-quote {
  margin-left: 120px;
  p {
    color: black;
    font-size: 15px;
    font-family: "Times New Roman";
    word-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.earth-png {
  margin-left: 250px;
  margin-top: -350px;
  img {
    animation: animate-rotate 30s infinite linear;
    width: 280px;
  }
}

.right-side-menu {
  position: absolute;
  top: 460px;
  text-align: right;
  right: 60px;
}

.right-side-menu p {
  font-size: 20px;
  font-family: "Times New Roman";
  color: black;
  cursor: pointer;
  font-weight: lighter;
}

.short-about {
  margin-top: 286px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  .main-h1-short-about {
    margin-top: 100px;
    h1 {
      font-size: 150px;
      font-weight: 500;
      font-family: "Bradley Hand";
      margin-bottom: -150px;
      letter-spacing: -2px;
      text-align: center;
    }
  }
  .sub-main-p-short-about {
    margin-top: 120px;
    p {
      text-align: center;
      color: black;
      font-family: "Times New Roman";
      font-weight: 500;
      font-size: 18px;
      margin-top: 20px;
    }
  }
  .another {
    margin-top: 50px;
    img {
      width: 50px;
      animation: animate-rotate 10s infinite linear;
    }
    @keyframes animate-rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.my-skills-main-reel {
  width: 100%;
  overflow: hidden;
  .my-skills-reel {
    margin-top: 300px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    will-change: transform;
    animation: animation-reel 60s infinite linear;
    .reel-item {
      font-weight: 400;
      font-family: "Bradley Hand";
      font-size: 180px;
      text-transform: uppercase;
    }
  }
  @keyframes animation-reel {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .skill-set-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    .skill-set-box {
      margin: 50px 10px;
      display: flex;
      width: 350px;
      height: 200px;
      color: #e6e6e6;
      flex-direction: column;
      background-color: #101010;
      border: 1px solid transparent;
      transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
      transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
      transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
      &:hover {
        color: #161616;
        background-color: #f0f0f0;
        border: 1px solid #161616;
      }
      h1,
      p {
        margin: 0px 30px;
        font-family: "Times New Roman";
        font-weight: lighter;
        text-transform: uppercase;
      }
      h1 {
        margin-top: 35px;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        margin-top: 20px;
        font-size: 13px;
      }
    }
  }
  .project-and-work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    height: 343px;
    padding-bottom: 100px;
    border-bottom: 1px dashed black;
    h1,
    .h1-work {
      text-decoration: none;
      color: black;
      font-size: 100px;
      font-weight: lighter;
      font-family: "Bradley Hand";
      text-decoration: 0.5px line-through;
    }
    p {
      color: black;
      font-size: 20px;
      margin-top: -20px;
      font-weight: lighter;
      font-family: "Times New Roman";
    }
    .h1-work img {
      width: 90px;
    }
  }
}

@media (max-width: 1200px) {
  .txt-line p {
    font-size: 100px;
    letter-spacing: -5px;
    font-weight: 500;
  }
  .line-bottom {
    margin-top: -200px;
  }
  .flower-svg {
    display: none;
  }
  .short-about h1 {
    font-size: 100px;
    margin: 0;
    line-height: 88%;
  }

  .short-about p {
    margin-top: 5px;
    font-weight: 300;
  }

  .sub-main-p-short-about {
    margin-top: 10px;
  }

  .reel-item {
    font-size: 100px;
  }

  .project-and-work h1,
  .h1-project {
    font-size: 50px;
  }

  .project-and-work h1 .h1-project img {
    width: 30px;
  }

  .project-and-work p {
    margin-top: -30px;
  }
  .skill-set-box {
    margin: 10px 5px;
  }
}
@media (max-width: 600px) {
  .short-about p {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .txt-line p {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 500;
  }
  .line-bottom {
    margin-top: -120px;
  }
  .left-side-quote {
    margin-left: 205px;
  }
  .left-side-quote p {
    font-size: 12px;
  }
  .container1 {
    padding: 0px 50px;
  }
  .short-about h1 {
    font-size: 60px;
    margin: 0;
    line-height: 88%;
  }

  .reel-item {
    font-size: 60px;
  }
}
