.container-text {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10%;
  margin-top: 20vh;
  display: flex;
  font-size: 200px;
  font-family: "Bradley Hand", "Times New Roman", Times, serif;
  font-weight: lighter;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  letter-spacing: -10px;
  color: rgb(235, 234, 225);
  text-shadow: 2px 2px #111;
  p {
    overflow: hidden;
  }
  .container-inner-text2 {
    margin-top: -220px;
  }
}

.container-quote {
  position: absolute;
  top: 53vh;
  right: 120px;
  font-family: "Bradley Hand";
  font-size: 35px;
  color: rgb(235, 234, 225);
  text-shadow: 2px 2px #111;
  word-spacing: -5px;
  font-weight: bold;
  font-style: oblique;
}

.container-quote2 {
  position: absolute;
  top: 135vh;
  left: 10%;
}

.container-image {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background: url(../Assets/taro.jpg) 50% 50% no-repeat;
  background-size: cover;
  filter: grayscale(1);
  height: 110vh;
  z-index: -1;
}

.profile-container2 {
  position: absolute;
  top: 150vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200vh;
  width: 100%;
  flex-direction: column;
  .profile-container2-heading,
  .profile-container2-heading2,
  .profile-container2-heading2 p {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  .profile-container2-heading p,
  .profile-container2-heading2 p {
    font-size: 160px;
    font-family: "Bradley Hand", "Times New Roman", Times, serif;
    line-height: 0%;
    font-weight: lighter;
    letter-spacing: -8px;
  }

  .profile-container2-p p {
    font-size: 18px;
    font-family: "Times New Roman";
    margin-bottom: 80px;
    margin-left: 30px;
    color: rgb(235, 234, 225);
    text-shadow: 2px 2px #111;
    word-spacing: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.profile-footer {
  margin-top: 400vh;
}

@media (max-width: 1000px) {
  .container-text {
    font-size: 120px;
  }
  .container-inner-text2 {
    margin-top: -300px;
  }
  .profile-container2-heading p,
  .profile-container2-heading2 p {
    font-size: 140px;
  }
  .profile-container-flower {
    top: 70vh;
  }
  .profile-container2-heading {
    margin-top: 100px;
  }
  .profile-container2-heading2 p {
    font-size: 80px;
  }

  .profile-footer {
    margin-top: 450vh;
  }
}

@media (max-width: 650px) {
  .profile-container2-heading2 p,
  .profile-container2-heading p {
    font-size: 90px;
  }
  .container-quote1 {
    top: 50vh;
  }
  .container-image {
    width: 95vw;
  }
  .container-text {
    margin-left: 15px;
  }
  .profile-container2-p p {
    font-size: 15px;
  }
  .profile-footer {
    margin-top: 430vh;
  }
}
